{% set bodyEnabled = template.content.body.enabled is defined ? template.content.body.enabled %}

<div class="option-item template-item {% if bodyEnabled %}option-enabled{% endif %}"
    id="template-body"
    data-modal="true"
    data-type="body"
    data-name="content[body][copy]"
    data-modal-title="{{ "Body Content" |t }}"
    data-input-hint-textarea="{{ "COPY" |t }}"
    data-modal-success-message="{{ "Body Content Updated" |t }}"
    data-input-value="{{ bodyCopy }}">
    <span class="option-title">
        <span class="option-text">{{ "Body" |t }} <span class="info">{{ "Include body content." |t }}</span></span>
    </span>
    <div class="option-actions">
        <a href="#" class="option-edit hidden" title="{{ "Edit" |t }}">{% include 'formbuilder2/_includes/icons/pencil' ignore missing %}</a>
        {% if bodyEnabled %}
            <a href="#" class="btns btn-small btn-moss toggle-option" title="{{ "Toggle" |t }}">{{ "Disable" |t }}</a>
        {% else %}
            <a href="#" class="btns btn-small btn-moss toggle-option" title="{{ "Toggle" |t }}">{{ "Enable" |t }}</a>
        {% endif %}
    </div>
    
    <input type="checkbox" value="{{ bodyEnabled }}" class="enable-template-content hidden" name="content[body][enabled]" {% if bodyEnabled %}checked{% endif %}>
</div>