<div class="fb-field {{ errors is defined and form.getError('name') ? 'error' }}" {% if form.getError('name') %}data-error-message="{{ form.getError('name') }}"{% endif %}>
    <label for="formName" class="input-hint">{{ "NAME" |t }}</label>
    <input type="text" id="formName" class="text input-control"  name="name" value="{{ form.name }}" autocomplete="off">
    {% if form.getError('name') %}<div class="input-error">{{ form.getError('name') }}</div>{% endif %}
    
</div>

<div class="fb-field {{ errors is defined and form.getError('handle') ? 'error' }}" {% if form.getError('handle') %}data-error-message="{{ form.getError('handle') }}"{% endif %}>
    <label for="formHandle" class="input-hint">{{ "HANDLE" |t }}</label>
    <input type="text" class="text code input-control" id="formHandle" name="handle" value="{{ form.handle }}" autocomplete="off">
    {% if form.getError('handle') %}<div class="input-error">{{ form.getError('handle') }}</div>{% endif %}
</div>
