{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}
{% hook 'formBuilder2.prepCpTemplate' %}

{% set selectedSubnavItem = "templates" %}
{% set bodyClass = 'formbuilder fb-layouts-edit' %}
{% set pageSlug = craft.request.lastSegment %}

{% if pageSlug == 'edit' %}
	{% set page = 'Edit Layout' %}
{% else %}
	{% set page = 'New Layout' %}
{% endif %}

{% block pageHeader %}
  {% include 'formbuilder2/partials/header' %}
{% endblock %}

{% block main %}
  
  <section id="fb-content">
    <header class="section-header">
      <div id="page-title"><h1>{{ page|t }}</h1></div>
      <div id="extra-headers"><div class="buttons right"><div class="btngroup"><a href="{{ url('formbuilder2/templates/layouts') }}" class="btn icon"><span>{{ "Back to Layouts"|t }}</span></a></div></div></div>
    </header>

    <div class="layout-form">

      <form method="post" accept-charset="UTF-8" data-saveshortcut="1">
        <input type="hidden" name="action" value="formBuilder2/layout/saveLayout">
        <input type="hidden" name="redirect" value="formbuilder2/templates/layouts">
        {{ getCsrfInput() }}

        {% if layout.id %}
          <input type="hidden" name="layoutId" value="{{ layout.id }}">
        {% endif %}


		{{ forms.textField({
		  first: true,
		  label: "Layout Name"|t,
		  instructions: "Give your layout a name."|t,
		  id: 'name',
		  name: 'name',
		  value: layout.name,
		  errors: layout.getErrors('name'),
		  autofocus: true,
		  required: true,
		  size: 50,
		  translatable: true
		}) }}

		{{ forms.textField({
		  label: "Handle"|t,
		  instructions: "A layout will need a unique handle name."|t,
		  id: 'handle',
		  name: 'handle',
		  value: layout.handle,
		  size: 50,
		  errors: layout.getErrors('handle'),
		  required: true
		}) }}

		{{ forms.textareaField({
		  label: "Description"|t,
		  id: 'description',
		  name: 'description',
		  value: layout.description,
		  size: 50,
		  errors: layout.getErrors('description'),
		  required: false
		}) }}

		{# Icon #}
		<div class="field">
		  <div class="heading">
		    <label for="icon">{{ "Icon"|t }}</label>
		    <div class="instructions"><p>{{ "Add layout icon"|t }}</p></div>
		  </div>
		  <div class="input">
		    {% set element = (icon is defined ? icon : []) -%}
		    {{ forms.elementSelectField({
		      id: 'icon',
		      name: 'icon',
		      selectionLabel: "Select Logo"|t,
		      elementType: craft.elements.getElementType("Asset"),
		      elements: element,
		      criteria: {"kind":[],"localeEnabled":null,"locale":"en_us"},
		      jsClass: 'Craft.AssetSelectInput',
		      limit: 1,
		      errors: layout.getErrors('icon'),
		    }) }}
		  </div>
		</div>

		{% includeCssResource "formbuilder2/css/formbuilder2_messages.css" %}

		<div class="field">
			<div class="heading">
			    <label>Template Path</label>
			</div>	
			<div id="messages">
				{% set templateName = layout.templateName is defined ? layout.templateName : '' %}
				{% set templateOriginalName = layout.templateOriginalName is defined ? layout.templateOriginalName : '' %}
				{% set templatePath = layout.templatePath is defined ? layout.templatePath : '' %}
			    <div class="pane message" data-layout-id="{{ layout.id }}" data-template-name="{{ layout.templateName }}" data-template-original-name="{{ layout.templateOriginalName }}">
			      <div class="body">
			      	Template Name: {{ layout.templateOriginalName|nl2br }}<br />
			      	Template Path: {{ layout.templatePath|nl2br }}
			      </div>
			      <input type="hidden" id="template-name-input" name="templateName" value="{{ templateName }}">
			      <input type="hidden" id="template-original-name-input" name="templateOriginalName" value="{{ templateOriginalName }}">
			      <input type="hidden" id="template-path-input" name="templatePath" value="{{ templatePath }}">
			    </div>
			</div>
		</div>

		
		{# Errors #}
		{%- set errors = (errors is defined ? errors : null) -%}
		{% if errors %}
		  {% include "formbuilder2/templates/inputs/errorList" with { errors: errors } %}
		{% endif %}


        <div class="buttons">
          <input type="submit" class="btn submit" value="{{ 'Save Layout'|t }}">
        </div>

      </form>

    </div>

  </section>

{% endblock %}

{% includeJsResource 'formbuilder2/js/layouts.js' %}
{% set js %}
	{% if not layout.handle %}new Craft.HandleGenerator('#name', '#handle');{% endif %}
	{# var layoutMarkup = new Markup('.message'); #}
{% endset %}
{% includeJs js %}

