{% set timedEnabled = form.spamProtectionSettings.timed.enabled ? true : false %}
{% set timedNumber = form.spamProtectionSettings.timed.number %}

<div class="option-item {% if timedEnabled %}option-enabled{% endif %}"
    id="option-timed"
    data-modal="true"
    data-modal-title="{{ "Time" |t }}"
    data-modal-instructions="{{ "Enter how many seconds to wait untill submissions are valid." |t }}"
    data-input-hint="{{ "NUMBER" |t }}"
    data-modal-success-message="{{ "Timed Protection Updated." |t }}"
    data-input-value="{{ timedNumber }}">
    <span class="option-title">
        <span class="option-text">{{ "Timed" |t }}</span>
        <span class="option-result {% if not timedEnabled %}hidden{% endif %}">
            {% include 'formbuilder2/_includes/icons/clock' ignore missing %}
            <code>{{ timedNumber }}</code>
        </span>
    </span>
    <div class="option-actions">
        <a href="#" class="option-edit hidden" title="{{ "Edit" |t }}">{% include 'formbuilder2/_includes/icons/pencil' ignore missing %}</a>
        {% if timedEnabled %}
            <a href="#" class="btns btn-small btn-moss toggle-option" title="{{ "Toggle" |t }}">{{ "Disable" |t }}</a>
        {% else %}
            <a href="#" class="btns btn-small btn-moss toggle-option" title="{{ "Toggle" |t }}">{{ "Enable" |t }}</a>
        {% endif %}
    </div>
    
    <input type="hidden" value="true" class="enable-form-option" name="spamProtectionSettings[timed][enabled]" {% if timedEnabled %}checked{% endif %}>
    <input type="hidden" class="text form-option-input" size="50" name="spamProtectionSettings[timed][number]" value="{{ timedNumber }}" autocomplete="off">
</div>