{% set fields = form.getFieldLayout().getFields() %}
{% set groupOptions = [{label: 'Select Field', value: ''}] %}
{% for field in fields %}
  {% set item = field.getField(field) %}
  {% set groupOptions = groupOptions|merge([{ label: item.name, value: item.handle }]) %}
{% endfor %}

<div class="option-item {% if form.notificationSettings.customSubject is defined and form.notificationSettings.customSubject %}option-enabled{% endif %}" 
    id="option-customsubject"
    data-modal="true"
    data-input-type="select"
    data-input-options="{{ groupOptions |json_encode() }}"
    data-modal-title="{{ "Custom Subject" |t }}"
    data-modal-instructions="{{ "Field will be used for the custom subject line." |t }}"
    data-input-hint="{{ "FIELD" |t }}"
    data-modal-success-message="{{ "Custom Subject Field Updated." |t }}"
    data-input-value="{{ form.notificationSettings.customSubjectLine }}">


    <span class="option-title">
        <span class="option-text">{{ "Custom Subject" |t }} <span class="info">{{ "Field will be used for the custom subject line." |t }}</span></span>
        <span class="option-result {% if form.notificationSettings.customSubject is defined and not form.notificationSettings.customSubject %}hidden{% endif %}">
            {% include 'formbuilder2/_includes/icons/megaphone' ignore missing %}
            <code>{{ form.notificationSettings.customSubjectLine }}</code>
        </span>
    </span>
    <div class="option-actions">
        <a href="#" class="option-edit hidden" title="{{ "Edit Custom Subject" |t }}">{% include 'formbuilder2/_includes/icons/pencil' ignore missing %}</a>
        <a href="#" class="btns btn-small btn-moss toggle-option" title="{{ "Toggle Custom Subject" |t }}">{{ "Enable" |t }}</a>
    </div>
    
    <input type="hidden" value="1" class="enable-form-optio" name="notificationSettings[customSubject]" {% if form.notificationSettings.customSubject is defined and form.notificationSettings.customSubject %}checked{% endif %}>
    <input type="hidden" class="text form-option-input" size="50" name="notificationSettings[customSubjectLine]" value="{{ form.notificationSettings.customSubjectLine }}" autocomplete="off">
</div>