{% includeCssResource "formbuilder2/css/formbuilder2_messages.css" %}

<div id="messages">
  {% for message in craft.formBuilder2.getAllMessages() %}
    <h2>{{ message.heading }}</h2>
    <div class="pane message" data-key="{{ message.key }}">
      <div class="body">{{ message.body|nl2br }}</div>
    </div>
  {% endfor %}
</div>


{# {{ forms.textareaField({
  label: "Body Copy"|t,
  instructions: "Enter copy that will appear in the email notification."|t,
  id: 'templateBodyCopy',
  class: 'templateBodyCopy',
  name: 'templateContent[templateBodyCopy]',
  value: (templateContent.templateBodyCopy is defined ? templateContent.templateBodyCopy : null),
  errors: template.getErrors('templateBodyCopy'),
  required: false
}) }}

{{ forms.textareaField({
  label: "Footer Copy"|t,
  instructions: "Enter copy that will appear in the email notification."|t,
  id: 'templateFooterCopy',
  class: 'templateFooterCopy',
  name: 'templateContent[templateFooterCopy]',
  value: (templateContent.templateFooterCopy is defined ? templateContent.templateFooterCopy : null),
  errors: template.getErrors('templateFooterCopy'),
  required: false
}) }}
 #}