{% includeCssResource "formbuilder2/css/formbuilder2_messages.css" %}

<div class="temp-layout">
  <section id="content-creator">
    <div class="pane-container">

      <input type="range" min="500" max="1000" id="templateBodyContainerWidth" step="10" name="templateStyles[templateBodyContainerWidth]" value="{{ template.templateStyles.templateBodyContainerWidth is defined ? template.templateStyles.templateBodyContainerWidth : '500' }}">
      <div class="size-info">{{ template.templateStyles.templateBodyContainerWidth is defined ? template.templateStyles.templateBodyContainerWidth ~ 'px' : '500px' }}</div>
      <div id="cc-wrapper" style="width: {{ template.templateStyles.templateBodyContainerWidth is defined ? template.templateStyles.templateBodyContainerWidth ~ 'px' : '500px' }}; background-color: {{ template.templateStyles.templateBackgroundColor is defined ? template.templateStyles.templateBackgroundColor : 'transparent' }}">
        <div class="backgroundColorTrigger">
          {{ forms.color({
            id: 'templateBackgroundColor',
            class: 'templateBackgroundColor',
            name: 'templateStyles[templateBackgroundColor]',
            value: (template.templateStyles.templateBackgroundColor is defined ? template.templateStyles.templateBackgroundColor : '#ebedef'),
            size: 50,
            errors: template.getErrors('templateBackgroundColor'),
          }) }}
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve"><path fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M12.2114182,29.4601555c-1.1715736-1.1715736-1.1715736-3.0710678,0-4.2426414l11.3137074-11.3137083"/><path fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M30.5961933,20.9748745L19.282486,32.2885818c-1.1715736,1.1715736-3.0710678,1.1715736-4.2426414,0"/><path fill="none" stroke="#000000" stroke-width="2" stroke-linecap="square" stroke-linejoin="round" stroke-miterlimit="10" d="M14.3327379,32.9956894l-1.4142151,1.4142151c-0.7810478,0.7810478-2.1509304,0.677494-2.9319782-0.1035538l0.051775,0.0517731c-0.7810478-0.7810478-0.7292709-1.9955978,0.0517769-2.7766476l1.4142141-1.4142151"/><path fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M31.3033009,20.267767l-7.0710678-7.0710678c-1.5620975-1.5620975-1.5620975-4.0947571,0-5.6568542l4.2426414-4.2426405l12.7279224,12.7279215l-4.2426414,4.2426414C35.3980598,21.8298645,32.8653984,21.8298645,31.3033009,20.267767z"/><path fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M38.454586,13.0586767c-0.2395554-0.7186689,0.0510406-1.4074507,0.5867081-1.9431152l2.6615028-2.6615047c1.5620956-1.5620952,1.6656494-4.4054146,0.1035538-5.9675102l0.0517731,0.0517712c-1.5620956-1.5620956-4.2500839-1.3032105-5.8121796,0.2588851l-2.6615067,2.6615045c-0.5356636,0.5356646-1.4315529,0.6191559-2.1502228,0.3795996"/><path fill="none" stroke="#000000" stroke-width="2" stroke-linejoin="round" stroke-miterlimit="10" d="M13,43c0,2.2091408-1.7908611,4-4,4s-4-1.7908592-4-4s4-6,4-6S13,40.7908592,13,43z"/></svg>
        </div>

        <div id="cc-header">
          {# Logo #}
          {% set elements = (template.templateContent.templateLogo is defined ? craft.assets.id(template.templateContent.templateLogo) : []) -%}
          {{ forms.elementSelectField({
            id: 'templateLogo',
            name: 'templateContent[templateLogo]',
            selectionLabel: "Place Logo Here"|t,
            elementType: craft.elements.getElementType("Asset"),
            elements: elements,
            criteria: {"kind":[],"localeEnabled":null,"locale":"en_us"},
            limit: 1,
            errors: template.getErrors('templateLogo'),
          }) }}
          <input type="hidden" id="templateLogoAlignment" name="templateContent[templateLogoAlignment]" value="{{ template.templateContent.templateLogoAlignment is defined ? template.templateContent.templateLogoAlignment : 'left' }}">
        </div>
        
        <div id="cc-body" style="background-color: {{ template.templateStyles.templateBodyBackgroundColor is defined ? template.templateStyles.templateBodyBackgroundColor : 'transparent' }};">
          <div class="containerColorTrigger">
            {{ forms.color({
              id: 'templateBodyBackgroundColor',
              class: 'templateBodyBackgroundColor',
              name: 'templateStyles[templateBodyBackgroundColor]',
              value: (template.templateStyles.templateBodyBackgroundColor is defined ? template.templateStyles.templateBodyBackgroundColor : '#cccccc'),
              size: 50,
              errors: template.getErrors('templateBodyBackgroundColor'),
            }) }}
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve"><path fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M12.2114182,29.4601555c-1.1715736-1.1715736-1.1715736-3.0710678,0-4.2426414l11.3137074-11.3137083"/><path fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M30.5961933,20.9748745L19.282486,32.2885818c-1.1715736,1.1715736-3.0710678,1.1715736-4.2426414,0"/><path fill="none" stroke="#000000" stroke-width="2" stroke-linecap="square" stroke-linejoin="round" stroke-miterlimit="10" d="M14.3327379,32.9956894l-1.4142151,1.4142151c-0.7810478,0.7810478-2.1509304,0.677494-2.9319782-0.1035538l0.051775,0.0517731c-0.7810478-0.7810478-0.7292709-1.9955978,0.0517769-2.7766476l1.4142141-1.4142151"/><path fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M31.3033009,20.267767l-7.0710678-7.0710678c-1.5620975-1.5620975-1.5620975-4.0947571,0-5.6568542l4.2426414-4.2426405l12.7279224,12.7279215l-4.2426414,4.2426414C35.3980598,21.8298645,32.8653984,21.8298645,31.3033009,20.267767z"/><path fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M38.454586,13.0586767c-0.2395554-0.7186689,0.0510406-1.4074507,0.5867081-1.9431152l2.6615028-2.6615047c1.5620956-1.5620952,1.6656494-4.4054146,0.1035538-5.9675102l0.0517731,0.0517712c-1.5620956-1.5620956-4.2500839-1.3032105-5.8121796,0.2588851l-2.6615067,2.6615045c-0.5356636,0.5356646-1.4315529,0.6191559-2.1502228,0.3795996"/><path fill="none" stroke="#000000" stroke-width="2" stroke-linejoin="round" stroke-miterlimit="10" d="M13,43c0,2.2091408-1.7908611,4-4,4s-4-1.7908592-4-4s4-6,4-6S13,40.7908592,13,43z"/></svg>
          </div>

          {# Optional Copy #}
          <div class="body-copy text-content{% if template.bodyText %} text-set{% endif %}" data-type="bodyText" data-template-id="{{ template.id is defined ? template.id : '' }}" data-copy="{{ template.bodyText is defined ? template.bodyText : '' }}">
            {% set bodyVars = {
              'type': 'templateBodyTextSize',
              'color': 'templateBodyTextColor',
              'colorValue': template.templateStyles.templateBodyTextColor is defined ? template.templateStyles.templateBodyTextColor : '',
              'body': template.bodyText is defined ? template.bodyText : '',
              'range': template.templateStyles.templateBodyTextSize is defined ? template.templateStyles.templateBodyTextSize : '',
              'templateStyles': template.templateStyles is defined ? template.templateStyles : ''
            }%}
            {% include 'formbuilder2/templates/partials/_text-actions' with bodyVars %}
            <p class="{% if not template.bodyText %}txt {% endif %}body" data-placeholder="{{ "Optional body copy."|t }}" style="font-size: {{ template.templateStyles.templateBodyTextSize is defined ? template.templateStyles.templateBodyTextSize : '' }}px; color: {{ template.templateStyles.templateBodyTextColor is defined ? template.templateStyles.templateBodyTextColor : '' }};">{% if template.bodyText == '' %}{{ "Optional body copy."|t }}{% else %}{{ template.bodyText |nl2br }}{% endif %}</p>
            <a class="delete icon delete-text{% if template.bodyText == '' %} hidden{% endif %}" title="Remove" data-target="bodyText"></a>
          </div>
          <input type="hidden" id="field-bodyText" class="bodyText" name="bodyText" value="{{ template.bodyText is defined ? template.bodyText : '' }}">

          {# Submission Copy #}
          <div class="submission-data">
            <p class="txt">Submission data will be displayed here.</p>
          </div>

        </div>

        <div id="cc-footer">
          {# Footer Copy #}
          <div class="footer-copy text-content{% if template.footerText %} text-set{% endif %}" data-type="footerText" data-template-id="{{ template.id is defined ? template.id : '' }}" data-copy="{{ template.footerText is defined ? template.footerText : '' }}">
            {% set footerVars = {
              'type': 'templateFooterTextSize',
              'color': 'templateFooterTextColor',
              'colorValue': template.templateStyles.templateFooterTextColor is defined ? template.templateStyles.templateFooterTextColor : '',
              'body': template.footerText,
              'range': template.templateStyles.templateFooterTextSize is defined ? template.templateStyles.templateFooterTextSize : '',
              'templateStyles': template.templateStyles
            }%}
            {% include 'formbuilder2/templates/partials/_text-actions' with footerVars %}
            <p class="{% if not template.footerText %}txt {% endif %}body" data-placeholder="{{ "Optional footer copy/notice."|t }}" style="font-size: {{ template.templateStyles.templateFooterTextSize is defined ? template.templateStyles.templateFooterTextSize : '' }}px; color: {{ template.templateStyles.templateFooterTextColor is defined ? template.templateStyles.templateFooterTextColor : '' }};">{% if template.footerText == '' %}{{ "Optional footer copy/notice."|t }}{% else %}{{ template.footerText |nl2br }}{% endif %}</p>
            <a class="delete icon delete-text{% if template.footerText == '' %} hidden{% endif %}" title="Remove" data-target="footerText"></a>
          </div>
          <input type="hidden" id="field-footerText" class="footerText" name="footerText" value="{{ template.footerText is defined ? template.footerText : '' }}">
        </div>
    
      </div>
    </div>
  </section>
</div>

{% includeJsResource 'formbuilder2/js/emaillogoasset.js' %}
{% includejs %}
  new Craft.CustomEmailLogo('templateLogo');
{% endincludejs %}

{# {{ forms.textareaField({
  label: "Body Copy"|t,
  instructions: "Enter copy that will appear in the email notification."|t,
  id: 'templateBodyCopy',
  class: 'templateBodyCopy',
  name: 'templateContent[templateBodyCopy]',
  value: (templateContent.templateBodyCopy is defined ? templateContent.templateBodyCopy : null),
  errors: template.getErrors('templateBodyCopy'),
  required: false
}) }}

{{ forms.textareaField({
  label: "Footer Copy"|t,
  instructions: "Enter copy that will appear in the email notification."|t,
  id: 'templateFooterCopy',
  class: 'templateFooterCopy',
  name: 'templateContent[templateFooterCopy]',
  value: (templateContent.templateFooterCopy is defined ? templateContent.templateFooterCopy : null),
  errors: template.getErrors('templateFooterCopy'),
  required: false
}) }}
 #}