<input type="checkbox" value="{{ submitterNotificationEnabled }}" class="enable-notification-section hidden" name="notify[submitter][enabled]" {% if submitterNotificationEnabled %}checked {% endif %}>

{% set submitterFromEmail = form.notify.submitter.fromEmail is defined ? form.notify.submitter.fromEmail %}
<div class="settings-item"
    id="settings-submitter-from-email"
    data-type="single"
    data-modal="true"
    data-name="notify[submitter][fromEmail]"
    data-modal-title="{{ "From Email" |t }}"
    data-modal-instructions="{{ "The sender’s email address. Defaults to the System Email Address defined in Settings → Email." |t }}"
    data-input-hint="{{ "EMAIL" |t }}"
    data-modal-success-message="{{ "From Email Updated" |t }}"
    data-input-value="{{ submitterFromEmail }}">
    <div class="settings-title">
        <div class="settings-title-text">{{ "From Email" |t }}</div>
        <div class="settings-result">
            {% if submitterFromEmail %}
                <code>{{ submitterFromEmail }}</code>
                <input type="text" class="form-settings-input hidden" name="notify[submitter][fromEmail]" value="{{ submitterFromEmail }}" />
            {% endif %}
        </div>
    </div>
    <div class="settings-action">
        <a href="#" class="settings-edit" title="{{ "Edit" |t }}">{% include 'formbuilder2/_includes/icons/pencil' ignore missing %}</a>
    </div>
</div>

{% set submitterFromName = form.notify.submitter.fromName is defined ? form.notify.submitter.fromName %}
<div class="settings-item"
    id="settings-submitter-from-name"
    data-type="single"
    data-modal="true"
    data-name="notify[submitter][fromName]"
    data-modal-title="{{ "From Name" |t }}"
    data-modal-instructions="{{ "The sender’s name. Defaults to the Sender Name defined in Settings → Email." |t }}"
    data-input-hint="{{ "NAME" |t }}"
    data-modal-success-message="{{ "From Name Updated" |t }}"
    data-input-value="{{ submitterFromName }}">
    <div class="settings-title">
        <div class="settings-title-text">{{ "From Name" |t }}</div>
        <div class="settings-result">
            {% if submitterFromName %}
                <code>{{ submitterFromName }}</code>
                <input type="text" class="form-settings-input hidden" name="notify[submitter][fromName]" value="{{ submitterFromName }}" />
            {% endif %}
        </div>
    </div>
    <div class="settings-action">
        <a href="#" class="settings-edit" title="{{ "Configure From Name" |t }}">{% include 'formbuilder2/_includes/icons/pencil' ignore missing %}</a>
    </div>
    <input type="hidden" class="settings-input" name="notify[submitter][fromName]" value="{{ submitterFromName ? submitterFromName : craft.systemSettings.email.senderName }}" autocomplete="off">
</div>

{% set submitterToEmail = form.notify.admin.toEmail is defined ? form.notify.admin.toEmail %}
<div class="settings-item"
    id="settings-admin-to-email"
    data-type="single"
    data-modal="true"
    data-name="notify[admin][toEmail]"
    data-modal-title="{{ "To Email" |t }}"
    data-modal-instructions="{{ "The recipient’s email address." |t }}"
    data-input-hint="{{ "EMAIL" |t }}"
    data-modal-success-message="{{ "To Email Updated" |t }}"
    data-input-value="{{ submitterToEmail }}">
    <div class="settings-title">
        <div class="settings-title-text">{{ "To Email" |t }}</div>
        <div class="settings-result">
            {% if submitterToEmail %}
                <code>{{ submitterToEmail }}</code>
                <input type="text" class="form-settings-input hidden" name="notify[submitter][toEmail]" value="{{ submitterToEmail }}" />
            {% endif %}
        </div>
    </div>
    <div class="settings-action">
        <a href="#" class="settings-edit" title="{{ "Configure To Email" |t }}">{% include 'formbuilder2/_includes/icons/pencil' ignore missing %}</a>
    </div>
    <input type="hidden" class="settings-input" name="notify[submitter][toEmail]" value="{{ submitterToEmail ? submitterToEmail : craft.systemSettings.email.emailAddress }}" autocomplete="off">
</div>

{% set availableFields = form.getFieldLayout().getFields() %}
{% set fieldsOption = [{label: 'Select Field', value: ''}] %}
{% for field in availableFields %}
    {% set fieldItem = field.getField(field) %}
    {% set fieldsOption = fieldsOption|merge([{ label: fieldItem.name, value: fieldItem.handle }]) %}
{% endfor %}

{% set submitterCustomSubjectEnabled = form.notify.submitter.subject.enabled is defined ? form.notify.submitter.subject.enabled %}
{% set submitterCustomSubjectText = form.notify.submitter.subject.text is defined ? form.notify.submitter.subject.text %}
{% set submitterCustomSubjectFieldHandle = form.notify.submitter.subject.fieldHandle is defined ? form.notify.submitter.subject.fieldHandle %}
<div class="settings-item {% if submitterCustomSubjectEnabled %}settings-enabled{% endif %}" 
    id="settings-submitter-custom-subject"
    data-modal="true"
    data-name-one="notify[submitter][subject][text]"
    data-name-two="notify[submitter][subject][fieldHandle]"
    data-type="select"
    data-input-options="{{ fieldsOption |json_encode() }}"
    data-modal-title="{{ "Custom Subject" |t }}"
    data-modal-instructions="{{ "Enter custom subject line or select a field that will be used for the custom subject line." |t }}"
    data-input-hint-one="{{ "TEXT" |t }}"
    data-input-hint-two="{{ "FIELD" |t }}"
    data-modal-success-message="{{ "Custom Subject Updated" |t }}"
    data-input-value-one="{{ submitterCustomSubjectText}}"
    data-input-value-two="{{ submitterCustomSubjectFieldHandle }}">
    
    <span class="settings-title">
        <span class="settings-text">{{ "Subject" |t }}</span>
        <div class="settings-result">
            {% if submitterCustomSubjectFieldHandle %}
                <code>Field: {{ submitterCustomSubjectFieldHandle }}</code>
                <input type="text" class="form-settings-input hidden" name="notify[submitter][subject][fieldHandle]" value="{{ submitterCustomSubjectFieldHandle }}" data-type="field" />
            {% elseif submitterCustomSubjectText %}
                <code>Text: {{ submitterCustomSubjectText }}</code>
                <input type="text" class="form-settings-input hidden" name="notify[submitter][subject][text]" value="{{ submitterCustomSubjectText }}" data-type="text" />
            {% endif %}
        </div>
    </span>

    <span class="settings-action">
        <a href="#" class="settings-edit hidden" title="{{ "Edit Custom Subject" |t }}">{% include 'formbuilder2/_includes/icons/pencil' ignore missing %}</a>
        {% if submitterCustomSubjectEnabled %}
            <a href="#" class="toggle-settings btns btn-add">{{ "Disable" |t }}</a>
        {% else %}
            <a href="#" class="toggle-settings btns btn-add">{{ "Enable" |t }}</a>
        {% endif %}
    </span>
    
    <input type="checkbox" value="{{ submitterCustomSubjectEnabled }}" class="form-settings-input hidden" name="notify[submitter][subject][enabled]" autocomplete="off" {% if submitterCustomSubjectEnabled %}checked {% endif %}>
</div>

<div class="settings-item">
    <span class="settings-title">
        <div class="settings-title-text">{{ "Body" |t }}</div>
        <div class="settings-result">
            <code>HTML</code>
        </div>
    </span>
    <span class="settings-action">
        <a href="#" class="btns btn-link">{{ "Configure" |t }}</a>
    </span>
</div>

{% set submitterAttachmentsEnabled = form.notify.submitter.attachments.enabled is defined ? form.notify.submitter.attachments.enabled %}
<div class="option-item {% if submitterAttachmentsEnabled is defined and submitterAttachmentsEnabled %}option-enabled{% endif %}"
    id="settings-submitter-attachments"
    data-type="attachments"
    data-modal="false">
    <span class="option-title">
        <span class="option-text">{{ "Attachments" |t }}</span>
    </span>
    <span class="option-actions">
        {% if submitterAttachmentsEnabled %}
            <a href="#" class="btns btn-small btn-moss toggle-option">{{ "Disable" |t }}</a>
        {% else %}
            <a href="#" class="btns btn-small btn-moss toggle-option">{{ "Enable" |t }}</a>
        {% endif %}
    </span>
    <input type="checkbox" value="true" class="enable-form-option hidden" name="notify[submitter][attachments][enabled]"  autocomplete="off" {{ submitterAttachmentsEnabled ? 'checked' : null }}>
</div>

{% set submitterCustomHeaders = form.notify.submitter.headers is defined ? form.notify.submitter.headers %}
<div class="settings-item select-input"
    id="settings-submitter-custom-headers"
    data-type="multiple"
    data-name="notify[submitter][headers]"
    data-modal="true"
    data-modal-title="{{ "Custom Headers" |t }}"
    data-modal-instructions="{{ "Any custom headers that should be included in the email. The keys of the array should identify the header names, and their values, well, take a guess." |t }}"
    data-input-hint-one="{{ "KEY" |t }}"
    data-input-hint-two="{{ "VALUE" |t }}"
    data-modal-success-message="{{ "Custom Header Added" |t }}">
    <div class="settings-title">
        <div class="settings-title-text">{{ "Custom Headers" |t }}</div>
        <div class="settings-result multiple">
        {% for headers in submitterCustomHeaders %}
                <div class="result-item" data-result-index="{{ loop.index0 }}">
                    <div class="settings-result-actions">
                        <a href="#" class="settings-result-edit">{% include 'formbuilder2/_includes/icons/pencil' ignore missing %}</a>
                        <a href="#" class="settings-result-delete">{% include 'formbuilder2/_includes/icons/delete' ignore missing %}</a>
                    </div>
                    <code class="value-one">{{ headers.key }}</code>
                    <code class="value-two">{{ headers.value }}</code>
                    <input type="hidden" name="notify[submitter][headers][{{ loop.index0 }}][key]" value="{{ headers.key }}">
                    <input type="hidden" name="notify[submitter][headers][{{ loop.index0 }}][value]" value="{{ headers.value }}">
                </div>          
            {% endfor %}
        </div>
    </div>
    <span class="settings-action">
        <a href="#" class="settings-edit btns btn-add" title="{{ "Configure CC" |t }}">{% include 'formbuilder2/_includes/icons/plus-circle' ignore missing %}</a>
    </span>
</div>