{% set adminNotificationEnabled = form.notify.admin.enabled is defined ? form.notify.admin.enabled %}
{% set hideAdminNotification = form.settings.sections.hideAdminNotification is defined ? form.settings.sections.hideAdminNotification %}

<section class="cmp-tout section-collapsible"{% if hideAdminNotification %} data-collapsed{% endif %}>
    <input type="checkbox" value="1" name="settings[sections][hideAdminNotification]" class="section-toggle hidden" {% if hideAdminNotification %}checked{% endif %}>

    <header class="theme-{{ theme is defined ? theme }}">
        <div class="titlebar">
            <span class="tout-title">{{ "Admin Notification" |t }}</span>
            <div class="preview"></div>
        </div>
        <div class="actions">
            {% if adminNotificationEnabled %}
                <div class="status on" title="Enabled"></div>
            {% else %}
                <div class="status off" title="Disabled"></div>
            {% endif %}

            <a class="icons collapser" title="Collapse" role="combobox" tabindex="0"></a>
            <a class="icons settings last" title="Settings" role="combobox" tabindex="0"></a>

            <div class="menu">
                <ul class="padded">
                    <li {% if not adminNotificationEnabled %}class="hidden"{% endif %}><a data-action="disable"><span class="status off"></span>{{ "Disable"|t }}</a></li>
                    <li {% if adminNotificationEnabled %}class="hidden"{% endif %}><a data-action="enable"><span class="status enabled"></span>{{ "Enable"|t }}</a></li>
                </ul>
            </div>
        </div>
    </header>

    <div class="body notification-fields theme-{{ theme is defined ? theme }}">
        {% include 'formbuilder2/forms/_includes/notify/notify-admin' ignore missing %}
    </div>
</section>