<section class="cmp-tout section-collapsible">
    <header class="theme-{{ theme is defined ? theme }}">
        <div class="titlebar">
            <span class="tout-title">{{ "Submitter Notification" |t }}</span>
            <div class="preview"></div>
        </div>
        <div class="actions">
            {% if form.notificationSettings.submitter.enabled is defined and form.notificationSettings.submitter.enabled %}
                <div class="status on" title="Enabled"></div>
            {% else %}
                <div class="status off" title="Disabled"></div>
            {% endif %}

            <a class="icons collapser" title="Collapse" role="combobox" tabindex="0"></a>
            <a class="icons settings last" title="Settings" role="combobox" tabindex="0"></a>

            <div class="menu">
                <ul class="padded">
                    <li {% if form.notificationSettings.submitter.enabled is defined and not form.notificationSettings.submitter.enabled %}class="hidden"{% endif %}><a data-action="disable"><span class="status off"></span>
                        {{ "Disable"|t }}
                    </a></li>
                    <li {% if form.notificationSettings.submitter.enabled is defined and form.notificationSettings.submitter.enabled %}class="hidden"{% endif %}><a data-action="enable"><span class="status enabled"></span>
                        {{ "Enable"|t }}
                    </a></li>
                </ul>
            </div>
        </div>
    </header>

    <div class="body theme-{{ theme is defined ? theme }}">
        {% include 'formbuilder2/forms/_includes/email-settings/notify-submitter' ignore missing %}
    </div>
</section>