{% extends "_layouts/cp" %}
{% hook 'formBuilder2.prepCpTemplate' %}

{% set selectedSubnavItem = "dashboard" %}
{% set bodyClass = 'formbuilder fb-dashboard' %}
{% set page = 'Dashboard' %}

{% block pageHeader %}
  {% include 'formbuilder2/partials/header' %}
{% endblock %}

{% block content %}
  {% set formsCount = craft.formBuilder2.totalForms() %}
  {% set entriesCount = craft.formBuilder2.totalEntries() %}

  <section id="fb-content">
    <header class="section-header">
      <div id="page-title"><h1>{{ page|t }}</h1></div>
      <div id="extra-headers"><div class="buttons right"><div class="btngroup"><a href="{{ url('formbuilder2/forms/new') }}" class="btn submit add icon"><span>{{ "Create a Form"|t }}</span></a></div></div></div>
    </header>

    <div class="pane">
      <div class="overview">
        <div class="item">
          <h2>{{ formsCount }}</h2>
          <p>{{ "Forms Created"|t }}</p>
        </div>
        <div class="item">
          <h2>{{ entriesCount }}</h2>
          <p>{{ "Submitted Entries"|t }}</p>
        </div>
      </div>
    </div>

  </section>
{% endblock %}