{% extends "_layouts/cp" %}

{% set bodyClass = 'formbuilder fb-dashboard' %}
{% set page = 'Dashboard' %}

{% block pageHeader %}
  {% include 'formbuilder2/partials/header' %}
{% endblock %}

{% block main %}
  {% set formsCount = craft.formBuilder2.totalForms() %}
  {% set entriesCount = craft.formBuilder2.totalEntries() %}

  {% include 'formbuilder2/partials/sidebar' %} 

  <section id="fb-content">
    <header class="page-header">
      <h1><svg class="icon"><use xlink:href="#icon-layers" class="icon-layers"/></svg> {{ page|t }}</h1>
    </header>

    <div class="pane">
      <header class="page-header">
        <h2>{{ "Overview"|t }}</h2>
      </header>

      <div class="overview">

        <div class="item">
          <h2>{{ formsCount }}</h2>
          <p>{{ "Forms Created"|t }}</p>
        </div>

        <div class="item">
          <h2>{{ entriesCount }}</h2>
          <p>{{ "Submitted Entries"|t }}</p>
        </div>

      </div>
    </div>

  </section>

{% endblock %}

