{% extends "_layouts/cp" %}

{% set bodyClass = 'formbuilder fb-dashboard' %}
{% set page = 'Dashboard' %}

{% block pageHeader %}
  {% include 'formbuilder2/partials/header' %}
{% endblock %}

{% block sidebar %}
  <h2 class="nav-trigger">Navigation <a href="#"><span class="fa fa-bars"></span></a></h2>
  {% if navigation is not empty %}
    {% include 'formbuilder2/partials/sidebar' %}
  {% endif %}
{% endblock %}


{% block content %}
  {% set formsCount = craft.formBuilder2.totalForms() %}
  {% set entriesCount = craft.formBuilder2.totalEntries() %}

  <section id="fb-content">
    <header class="page-header">
      <h1>{{ page|t }}</h1>
    </header>

    <div class="pane">

      <div class="overview">

        <div class="item">
          <h2>{{ formsCount }}</h2>
          <p>{{ "Forms Created"|t }}</p>
        </div>

        <div class="item">
          <h2>{{ entriesCount }}</h2>
          <p>{{ "Submitted Entries"|t }}</p>
        </div>

      </div>
    </div>

  </section>
{% endblock %}