{%- set class = [
	'select',
	(class is defined ? class : null)
]|filter|join(' ') %}

{%- set forms = craft.formbuilder2.getAllForms() %}
{%- set options = (forms is defined ? forms : []) %}
{%- set value = (value is defined ? value : null) %}

<div class="{{ class }}">
	<select
		{%- if id is defined %} id="{{ id }}"{% endif %}
		{%- if toggle is defined and toggle %} class="fieldtoggle"{% endif %}
		{%- if name is defined %} name="{{ name }}"{% endif %}
		{%- if autofocus is defined and autofocus and not craft.request.isMobileBrowser(true) %} autofocus{% endif %}
		{%- if targetPrefix is defined %} data-target-prefix="{{ targetPrefix }}"{% endif %}>
			<option value="0"></option>
		{% for key, option in options %}
			{% set optionLabel = (option.name is defined ? option.name : option) %}
			{% set optionValue = (option.id is defined ? option.id : key) %}
			<option value="{{ optionValue }}"{% if value == option.id %} selected{% endif %}>{{ optionLabel }}</option>
		{% endfor %}
	</select>
</div>
