{% extends "_layouts/cp" %}
{% from "_includes/forms" import text -%}

{% hook 'formBuilder2.prepCpTemplate' %}

{% set elementType = 'FormBuilder2' %}
{% set selectedSubnavItem = "entries" %}
{% set bodyClass = 'formbuilder fb-entries' %}
{% set page = 'Entry' %}

{% block pageHeader %}
  {% include 'formbuilder2/partials/header' %}
{% endblock %}

{% block content %}
  <section id="fb-content">

    <header class="page-header" id="page-header">
      <div id="page-title"><h1>{{ page|t }}</h1></div>
      <div id="extra-headers"><div class="buttons right"><div class="btngroup"><a href="{{ url('formbuilder2/entries') }}" class="btn icon"><span>{{ "Go Back"|t }}</span></a></div></div></div>
    </header>

    <div class="view-entry pane">

      <div class="pane submission-details">
        <header>
          <h1>{{ "Submission Details"|t }}</h1>
          <p>{{ "Form ID"|t }}: <span>{{ form.id }}</span></p>
          <p>{{ "Form Name"|t }}: <span>{{ form.name }}</span></p>
          <p>{{ "Submission ID"|t }}: <span>{{ entry.id }}</span></p>
          <p>{{ "Submission Date"|t }}: <span>{{ entry.dateCreated | date('F jS, Y') }} at {{ entry.dateCreated | date('g:h A') }}</span></p>
        </header>
      </div>

      {% if submission %}
      <div class="pane submission-details">
        <header>
          <h1>{{ "Submission Content"|t }}</h1>
        </header>

        <table class="submission fullwidth collapsible">
          {% for name, value in submission %}
            {% set field = craft.fields.getFieldByHandle(name) %}
            {% if field and value %}
            <tr>
              <td style="padding-top:10px;vertical-align:top;"><strong>{{ field.name }}</strong></td>
              {% if value | checkArray == '1' %}
                <td style="padding-top:10px;">
                {% for key, item in value %}
                  {{ item }}<br />
                {% endfor %}
                </td>
              {% else %}
                <td style="padding-top:10px;">{{ value|raw|nl2br }}</td>
              {% endif %}
            </tr>
            {% endif %}
          {% endfor %}
        </table>
      </div>
      {% else %}
        <p class="no-content">{{ "Submission has no content."|t }}</p>
      {% endif %}

      {% if files %}
        <div class="pane upload-details">
          <header>
            <h1>{{ "Uploads"|t }}</h1>
          </header>
          


          <div class="elements">
            <table class="data fullwidth">
              
              {% for file in files %}
                
                <tr data-id="{{ file.id }}" tabindex="0">
                  <td data-title="Title">
                    <div class="element small hasthumb" data-id="{{ file.id }}" data-locale="{{ file.locale }}" data-status="{{ file.getStatus() }}" data-label="{{ file.title }}" data-url="{{ file.url }}" data-editable="{{ file.isEditable() }}">
                      <div class="elementthumb">
                        <img sizes="30px" srcset="{{ file.getThumbUrl(30) }} 30w, {{ file.getThumbUrl(60) }} 60w, {{ file.getThumbUrl(100) }} 100w, {{ file.getThumbUrl(200) }} 200w" alt="{{ file.title }}">
                      </div>
                      <div class="label">
                        <span class="title">{{ file.title }}</span>
                      </div>
                    </div>
                  </td>
                  <td data-title="Filename" data-attr="filename">
                    <span style="word-break: break-word;">{{ file.filename }}</span>
                  </td>
                  <td data-title="File Size" data-attr="size">{{ file.size|filesize }}</td>
                  <td data-title="File Modified Date" data-attr="dateModified">
                    <span title="{{ file.dateModified |date("m/d/Y") }}">{{ file.dateModified |date("m/d/Y") }}</span>
                  </td>
                </tr>
              {% endfor %}

            </table>
          </div>

        </div>
      {% endif %}

    </div>
    {% if currentUser.admin or settings.canDoActions %}
      <div class="pane">
        <form method="post" accept-charset="utf-8">
          <input type="hidden" name="action" value="formBuilder2/entry/deleteSubmission">
          <input type="hidden" name="redirect" value="formbuilder2/entries">
          <input type="hidden" name="entryId" value="{{ entry.id }}">
          <button class="btn delete submit">{{ "Delete Submission"|t }}</button>
        </form>
      </div>
    {% endif %}

  </section>

{% includeJsResource "formbuilder2/js/entrydetails.js" %}

{% includejs %}
  new Craft.FileUploadsIndex('Asset', $('.upload-details'), {
    context:        'index',
    storageKey:     'elementindex.Asset',
    criteria:       { localeEnabled: null }
  });
{% endincludejs %}

{% endblock %}

