{% set bodyClass = 'formbuilder fb-forms' %}
{% set page = 'Entries' %}

{# Page Header | Reference craft/app/templates/_layouts/cp.html #}
{% block pageHeader %}
  {# {{ parent() }} #}
  {% include 'formbuilder2/partials/header' %}
{% endblock %}

{% block sidebar %}
  {{ parent() }}
{% endblock %}

{# Main Container | Reference craft/app/templates/_layouts/cp.html #}
{% block main %}
  {% include 'formbuilder2/partials/sidebar' %} 

  <section id="fb-content">
    <header class="page-header">
      <h1><svg class="icon"><use xlink:href="#icon-list" class="icon-list"/></svg> {{ page|t }}</h1>
    </header>
  </section>

{% endblock %}


 <section id="fb-content">

    <header class="page-header">
      <h1><svg class="icon"><use xlink:href="#icon-list" class="icon-list"/></svg> {{ page|t }}</h1>
    </header>
    {# Form List #}
    <div class="forms pane">
      <table class="data fullwidth collapsible">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Form</th>
            <th scope="col">Date</th>
            <th scope="col">Action</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="name"><a href="#">43</a></td>
            <td class="handle">Contact Form</td>
            <td class="count">Friday</td>
            <td class="action"><a href="#" class="delete-from" title="Delete Form"><svg class="icon"><use xlink:href="#icon-trash" class="icon-trash"/></svg></td>
          </tr>
          <tr>
            <td class="name"><a href="#">23</a></td>
            <td class="handle">Lunch Survey</td>
            <td class="count">Today</td>
            <td class="action"><a href="#" class="delete-from" title="Delete Form"><svg class="icon"><use xlink:href="#icon-trash" class="icon-trash"/></svg></td>
          </tr>
        </tbody>
              
      </table>

    </div>
    

    {# No Forms #}
    <div class="no-forms" style="display: none;">
      <p>{{ "Hello! You don't have any forms yet."|t }}</p>
      <a href="#" class="create-form-button"><svg><use xlink:href="#icon-text" class="icon-text"/></svg> <span>{{ "Create a Form"|t }}</span></a>
    </div>


  </section>