{# {% extends "_layouts/cp" %} #}
{% extends "_layouts/elementindex" %}

{% set bodyClass = 'formbuilder fb-entries' %}
{% set page = 'Entries' %}

{% set elementType = "FormBuilder2" %}
  
{% block pageHeader %}
  {% include 'formbuilder2/partials/header' %}
{% endblock %}

{% block main %}
  {% include 'formbuilder2/partials/sidebar' %} 
  <section id="fb-content">
    <header class="page-header">
      <h1><svg class="icon"><use xlink:href="#icon-list" class="icon-list"/></svg> {{ page|t }}</h1>
    </header>

  {{ parent() }}
  </section>
{% endblock %}

{% block initJs %}
  Craft.elementIndex = Craft.createElementIndex('{{ elementTypeClass }}', $('#main'), {
    context:        '{{ context }}',
    showStatusMenu: {{ showStatusMenu is defined ? showStatusMenu|json_encode|raw : "'auto'" }},
    showLocaleMenu: {{ showLocaleMenu is defined ? showLocaleMenu|json_encode|raw : "'auto'" }},
    storageKey:     'elementindex.{{ elementTypeClass }}',
    criteria:       { localeEnabled: null }
  });
{% endblock %}

{% includeJs initJs %}