{% includeJsResource "formbuilder2/js/plugins.js" %}
{% includeJsResource "formbuilder2/js/formbuilder2.js" %}
{% includeCssResource "formbuilder2/css/formbuilder2.css" %}

{% include 'formbuilder2/_includes/icons/formbuilder-icon.twig' ignore missing %}

<h1>{{ title }}</h1>

{% if createForm is defined and createForm %}
    <a href="{{ url('formbuilder2/forms/new') }}" class="btns btn-info submit add icon">{{ "Create New Form"|t }}</a>
{% endif %}

<script type="text/javascript">

    window.FormBuilder2 = {
        formCount: '{{ craft.formBuilder2.forms() |length }}',
        entryCount: '{{ craft.formBuilder2.totalEntries() }}',
    }

</script>

