{% includeJsResource "formbuilder2/js/formbuilder2.js" %}
{% includeCssResource "formbuilder2/css/formbuilder2.css" %}

<svg width="37" height="27" viewBox="0 0 37 27" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>
    <path d="M1.8305669.09152834C.82362434.09152834 0 .90233872 0 1.92209524L.01307548 5.1909647c0 1.00681178.81054887 1.83056688 1.8305669 1.83056688H34.0746952c1.0068118 0 1.8304361-.81081038 1.8304361-1.8305669V1.92209525c0-1.0068118-.8105489-1.8305669-1.8304361-1.8305669H1.8305669z" id="a"/>
    <path d="M1.8305669.0653774C.82362434.0653774 0 .876057 0 1.89594427l.01307548 3.2687387c0 1.00694254.81054887 1.83069765 1.8305669 1.83069765H34.0746952c1.0068118 0 1.8304361-.81067963 1.8304361-1.83069765v-3.2687387c0-1.0068118-.8105489-1.8305669-1.8304361-1.8305669H1.8305669z" id="c"/>
    <path d="M1.92209524 0C.91528344 0 .09152834.81067962.09152834 1.8305669v2.44511434c0 1.0068118.8237551 1.8305669 1.8305669 1.8305669H15.3898374c1.0068118 0 1.8305669-.81067963 1.8305669-1.8305669V1.8305669C17.2204043.8237551 16.3966492 0 15.3898374 0H1.92209524z" id="e"/>
  </defs>
  <g fill="none" fill-rule="evenodd">
    <g transform="translate(.238 .59)">
      <mask id="b" fill="#fff">
        <use xlink:href="#a"/>
      </mask>
      <path fill="#E6ECF0" mask="url(#b)" d="M-2.03977454 9.06130612H37.9581121v-11.0226278H-2.03977454"/>
    </g>
    <g transform="translate(.238 10.005)">
      <mask id="d" fill="#fff">
        <use xlink:href="#c"/>
      </mask>
      <path fill="#E6ECF0" mask="url(#d)" d="M-2.03977454 9.03515516H37.9581121v-11.0226278H-2.03977454"/>
    </g>
    <g transform="translate(.368 19.942)">
      <mask id="f" fill="#fff">
        <use xlink:href="#e"/>
      </mask>
      <path fill="#A6E50F" mask="url(#f)" d="M-1.9482462 8.14602267h21.2215005v-10.1988727H-1.9482462"/>
    </g>
  </g>
</svg>

<h1>
    {{ title }}
</h1>

{% if createForm is defined and createForm %}
    <a href="{{ url('formbuilder2/forms/new') }}" class="btns btn-info submit add icon">{{ "Create New Form"|t }}</a>
{% endif %}

<script type="text/javascript">

    window.FormBuilder2 = {
        formCount: '{{ craft.formBuilder2.forms() |length }}',
        entryCount: '{{ craft.formBuilder2.totalEntries() }}',
    }

</script>

