{# {% if form is defined %}
  <h3>New {{ form.name }} Submission [{{ entry.id }}]</h3>
{% endif %}
<hr>
{% if data is defined %}
  <table>
  {% for key, value in data %}
    {% set field = craft.fields.getFieldByHandle(key) %}
    {% if value %}
    <tr>
      <td><strong>{{ field.name }}: </strong></td>
      
      {% if value | checkArray == '1' %}
      <td>
      {% for key, item in value %}
        {% if item != '' %}
          {{ item }},  
        {% endif %}
      {% endfor %}
      </td>
      {% else %}
      <td>{{ value|nl2br }}</td>
      {% endif %}

    </tr>
    {% endif %}
  {% endfor %}

  <tr>
    {% for file in files %}
      {{ file.url }}
    {% endfor %}
  </tr>
  </table>
{% endif %} #}

{{ customLogo |inspect }}


{# TODO: finish email notification template #}

<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f5f5f5">
  <tbody><tr><td><table width="500" border="0" align="center" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>  
        <td>
          <table width="500" height="122" border="0" cellspacing="0" cellpadding="0"><tbody><tr>

            <td><a href="" style="width: 161px;"><img src="{% for logo in customLogo %}{% set logo = logo.url %}{{ logo }}{% endfor %}" style="width: 100%;" /></a></td>
            <td width="338" align="right"><p style="font:9px Helvetica Neue,Helvetica,Arial,sans-serif;letter-spacing:3px;margin:0;padding:0"><span style="color:#1a1a1a">ACCOUNT INFORMATION</span></p></td>
            <td width="1"><img src="http://formbuilder-craft.s3.amazonaws.com/unnamed.gif" alt="" width="1" height="122"></td>
          </tr></tbody></table>
        </td> 
      </tr>
    </tbody>
  </table></td></tr></tbody> 
</table>