{# {% if form is defined %}
  <h3>New {{ form.name }} Submission [{{ entry.id }}]</h3>
{% endif %}
<hr>
{% if data is defined %}
  <table>
  {% for key, value in data %}
    {% set field = craft.fields.getFieldByHandle(key) %}
    {% if value %}
    <tr>
      <td><strong>{{ field.name }}: </strong></td>
      
      {% if value | checkArray == '1' %}
      <td>
      {% for key, item in value %}
        {% if item != '' %}
          {{ item }},  
        {% endif %}
      {% endfor %}
      </td>
      {% else %}
      <td>{{ value|nl2br }}</td>
      {% endif %}

    </tr>
    {% endif %}
  {% endfor %}

  <tr>
    {% for file in files %}
      {{ file.url }}
    {% endfor %}
  </tr>
  </table>
{% endif %} #}


{# TODO: finish email notification template #}
{{ settings |inspect}}
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="{{ settings.emailBackgroundColor }}">

  <tr>
    <td>
      <table width="{{ settings.emailContainerWidth }}" height="122" border="0" cellspacing="0" cellpadding="0" align="center">
        <tr>
          <td width="500">
            <a href="{{ siteUrl }}"><img src="{% for logo in customLogo %}{% set logo = logo.url %}{{ logo }}{% endfor %}" style="display: block; max-width: 500px;" /></a>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td>
      <table width="{{ settings.emailContainerWidth }}" border="0" cellspacing="0" cellpadding="0" align="center" style="border: 1px solid black;">
        <tr>
          <td style="padding: 20px;">
            <p style="font-size: 12px; font-family: 'Open Sans', 'OpenSans', Helvetica, sans-serif;">Hello</p>
            
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td>
      <table width="{{ settings.emailContainerWidth }}" height="100" border="0" cellspacing="0" cellpadding="0" align="center">
        <tr>
          <td style="padding: 20px;">
            <p style="text-align: center; font-size: 12px; font-family: 'Open Sans', 'OpenSans', Helvetica, sans-serif; margin-bottom: 0px;">{{ settings.emailFooterOptionalCopyOne }}</p>
            <p style="text-align: center; font-size: 12px; font-family: 'Open Sans', 'OpenSans', Helvetica, sans-serif; margin-top: 3px;">{{ settings.emailFooterOptionalCopyTwo }}</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>

</table>




{# 
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="{{ settings.emailBackgroundColor }}">
  <tbody><tr><td><table width="{{ settings.emailContainerWidth }}" border="0" align="center" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>  
        <td>
          <table width="{{ settings.emailContainerWidth }}" height="122" border="0" cellspacing="0" cellpadding="0"><tbody><tr>
            <td width="500" style="padding: 0 20px;"><a href="{{ siteUrl }}" style="width: 499px;"><img src="{% for logo in customLogo %}{% set logo = logo.url %}{{ logo }}{% endfor %}" width="160" /></a></td>
          </tr></tbody></table>
        </td> 
      </tr>
    </tbody>
  </table></td></tr></tbody> 
</table> #}